# NATS
NATS_URL=nats://127.0.0.1:4223
NATS_USERNAME=
NATS_PASSWORD=

#in base64
NATS_CLIENT_CERT=
NATS_CLIENT_KEY=

# Consul
CONSUL_ADDRESS=localhost:8501
CONSUL_TOKEN=
CONSUL_BACKUP_PASSWORD=

#in base64
CONSUL_CLIENT_CERT=
CONSUL_CLIENT_KEY=

#in base64
TLS_CA=

# App
ENVIRONMENT=development
BADGER_PASSWORD=your-secure-password-here
BADGER_BACKUP_PASSWORD=your-secure-password-here
# generate: openssl rand -hex 32
CHAIN_CODE=your-32-byte-hex-chain-code-here

# Event Initiator
EVENT_INITIATOR_ALGORITHM=ed25519
EVENT_INITIATOR_PUBKEY=your-ed25519-public-key-hex

# Storage
DB_PATH=.
BACKUP_ENABLED=true
BACKUP_PERIOD_SECONDS=300
BACKUP_DIR=backups

#Backup in Cloud
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=

# MPC Configuration
# MPC_THRESHOLD (t): The safety limit and polynomial degree.
# Represents the maximum number of parties that CAN be malicious without compromising the secret.
# The number of required signers (quorum) will always be MPC_THRESHOLD + 1.
MPC_THRESHOLD=1
MAX_CONCURRENT_KEYGEN=2
MAX_CONCURRENT_SIGNING=10

# Health Check
HEALTHCHECK_ENABLED=false
HEALTHCHECK_ADDRESS=0.0.0.0:8080
